// =============intro start ==============

.intro {
  padding-top: 96px;
  background: url(../img/intro.jpg) center center no-repeat;

  &__body {
    padding: 153px 0 152px 0px;
  }

  &__title {
    width: 500px;
    margin-bottom: 40px;

    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;

    color: #ffffff;
  }

  &__text {
    width: 405px;
    margin-bottom: 40px;

    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }

  &__line {
    position: absolute;
    left: -140px;
    top: 442px;
  }
  &__line2 {
    position: absolute;
    right: 283px;
    top: 438px;
  }
}

@media (max-width: 768px) {
  .intro {
    .container {
      width: 689px;
      margin: 0 auto;
    }

    &__body {
      padding: 160px 0px 240px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
      width: 573px;
    }
    &__line {
      display: none;
    }
    &__line2 {
      position: absolute;
      right: 394px;
      top: 530px;
    }
  }
}
@media (max-width: 375px) {
  .intro {
    .container {
      width: 311px;
      margin: 0 auto;
    }

    &__body {
      padding: 115px 0px 200px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      width: 311px;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      /* or 100% */

      text-align: center;
      letter-spacing: -1.78571px;
    }
    &__text {
      text-align: center;
      width: 311px;
    }
    &__line {
      display: none;
    }
    &__line2 {
      right: 244px;
      top: 553px;
    }
  }
}

// =============intro end ==============

// =============guide start ==============

.guide {
  margin: 160px 0 200px;
  position: relative;

  &__line {
    position: absolute;
    top: 48px;
    z-index: -1;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 350px;
  }

  &__title {
    margin: 40px 0 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }
}

@media (max-width: 768px) {
  .guide {
    .container {
      width: 689px;
      margin: 0 auto;
    }

    &__line {
      transform: rotate(90deg);
      left: -400px;
      top: -10px;
    }

    &__wrapper {
      flex-direction: column;
    }
    &__card {
      width: 573px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      width: 389px;
    }
  }
}
@media (max-width: 375px) {
  .guide {
    .container {
      width: 311px;
      margin: 0 auto;
    }

    &__line {
      display: none;
    }

    &__wrapper {
      flex-direction: column;
    }
    &__card {
      width: 311px;
      flex-direction: column;
      margin-bottom: 48px;
    }

    &__content {
      width: 311px;
    }
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
}

// =============guide end ==============

// =============good start ==============

.good {
  position: relative;
  overflow: hidden;

  &__line {
    position: absolute;
    right: -45px;
    top: 298px;
    z-index: 1;
  }
  &__line2 {
    position: absolute;
    left: -421px;
    top: 592px;
  }
  &__line3 {
    position: absolute;
    right: -388px;
    top: 1283px;
    z-index: 1;
  }

  &__circle {
    position: absolute;
    transform: translateX(1265px);
  }
  &__circle2 {
    position: absolute;
    transform: translateY(603px) translateX(-374px);
  }
  &__circle3 {
    position: absolute;
    transform: translateY(1220px) translateX(1265px);
  }

  &__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
    &:nth-child(3) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  &__content {
    width: 445px;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;

    color: #495567;
  }

  &__text {
    margin: 24px 0 40px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #939caa;
  }

  &__more {
    width: 180px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fcb72b;

    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;

    color: #ffffff;

    &:hover {
      background-color: transparent;
      color: #fcb72b;
      border: 3px solid #fcb72b;
      transition: 700ms;
    }
  }

  &__img {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background: url(../img/good_avater.png) center center no-repeat;
  }
  &__img2 {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background: url(../img/good_city.png) center center no-repeat;
  }
  &__img3 {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background: url(../img/good_cash.png) center center no-repeat;
  }
}

@media (max-width: 768px) {
  .good {
    .container {
      width: 689px;
      margin: 0 auto;
    }

    &__card {
      flex-direction: column-reverse;
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
    }

    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__more {
      margin: auto;
    }
    &__circle {
      transform: translateX(680px);
    }
    &__circle2 {
      transform: translateY(1000px) translateX(-331px);
    }

    &__line2 {
      top: 986px;
    }

    &__line3 {
      top: 2074px;
    }

    &__circle3 {
      transform: translateY(1967px) translateX(654px);
    }

    &__title {
      margin: 64px 0 40px;
    }
  }
}
@media (max-width: 375px) {
  .good {
    .container {
      width: 311px;
      margin: 0 auto;
    }

    &__img {
      width: 311px;
      height: 311px;
    }
    &__img2 {
      width: 311px;
      height: 311px;
    }
    &__img3 {
      width: 311px;
      height: 311px;
    }

    &__card {
      flex-direction: column-reverse;
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
    }

    &__title {
      width: 311px;
      margin: 60px auto 41px !important;
      text-align: center;
      font-size: 32px;
      line-height: 32px;
    }
    &__text {
      text-align: center;
      width: 311px;
      margin: auto;
      margin-bottom: 32px;
    }
    &__more {
      margin: auto;
    }
    &__circle {
      display: none;
    }
    &__circle2 {
      display: none;
    }

    &__line {
      right: -378px;
      top: 156px;
    }

    &__line2 {
      top: 875px;
      left: -452px;
    }

    &__line3 {
      top: 1767px;
      right: -520px;
    }

    &__circle3 {
      transform: translateY(1967px) translateX(654px);
    }

    &__title {
      margin: 64px 0 40px;
    }
  }
}
// =============good end ==============

// =============call start ==============

.call {
  margin-top: 329px;
  background: url(../img/call__bg_img.png) center center no-repeat;

  &__body {
    padding: 94px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 415px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;

    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .call {
    .container {
      width: 689px;
      margin: 0 auto;
    }

    &__body {
      flex-direction: column;
      padding: 47px 0;
    }
    &__title {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 375px) {
  .call {
    .container {
      width: 311px;
      margin: 0 auto;
    }

    &__body {
      flex-direction: column;
      padding: 47px 0;
    }
    &__title {
      width: 311px;
      text-align: center;
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 32px;
    }

    &__social {
      width: 257px;
      display: flex;
      justify-content: space-between;

    }

    &__apps {
      width: 114px;
      height: 40px;
    }
  }
}

// =============call end ==============
